.slider-img {
    object-fit: cover !important;
}

.btn-scale:active {
    transform: scale(0.9) !important;
    transition: all 0.3s;
}

.btn-none-hover:hover {
    border: none !important;
}

.info-card {
    transition:
        transform 0.3s ease,
        border-color 0.3s ease;
}
.info-card:hover {
    transform: translateY(-5px);
    border-color: #0dcaf0 !important;
}

.section-desc {
    font-size: 1rem;
}
.card-title {
    font-size: 0.9rem;
}
.card-text {
    font-size: 0.85rem;
}

@media (max-width: 991.98px) {
    .section-desc {
        font-size: 0.9rem;
    }
    .card-title {
        font-size: 0.825rem;
    }
    .card-text {
        font-size: 0.775rem;
    }
}

@media (max-width: 575.98px) {
    .section-desc {
        font-size: 0.85rem;
    }
    .card-title {
        font-size: 0.775rem;
    }
    .card-text {
        font-size: 0.725rem;
    }
}
